footer
  bottom: 0
  background-color: #333
  color: #888
  width: auto

  div
    width: auto
    margin: auto
    padding: 2rem

    a
      display: block

    &.contact
      text-align: center

    &.copyright
      font-size: 1.2rem
      text-align: center
